* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

header{
    background-color: black;
}

.container{
    width: 80%;
    color: white;
    background-color: black;
    display: flex;
    margin: 0 auto ;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
